<!DOCTYPE HTML>
<html>
	<head>		
		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
		<title>Proyecto 3</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/assets/css/main.css"/>
		<noscript><link rel="stylesheet" href="../static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload" onload="ComboBox()">

		<!-- Header -->
			<header id="header">
				<h1>SAT</h1>
				<nav>
					<ul>
						<li><a href="#intro">Inicio</a></li>
						<li><a href="#one">Carga de Archivo</a></li>
						<li><a href="#two">Peticiones</a></li>
						<li><a href="#work">Visualizar Informacion</a></li>
						<li><a href="#contact">Ayuda</a></li>
					</ul>
				</nav>
			</header>

		<!-- Inicio -->
			<section id="intro" class="main style1 dark fullscreen">
				<div class="content">
					<header>
						<h2>Introduccion a la Programacion y Computacion 2</h2>
					</header>
					<p>Ronaldo Javier Posadas Guerra <strong>202004770</strong></p>
					<footer>
						<a href="#one" class="button style2 down">More</a>
					</footer>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="main style2 right dark fullscreen">
				<div class="content box style2">
					<header>
						<h2>Carga de Archivo</h2>
					</header>
					<p>En este apartado se puede cargar un archivo XML para posteriormente ser procesados.</p>
					<form method="POST" enctype="multipart/form-data">
						{% csrf_token %}
						<input type="file" name="archivo" id="archivo" accept="text/xml">
						<br>
						<input type="submit" value="EnviarXML" id="EnviarXML"></input>
					</form>
				</div>
				<a href="#two" class="button style2 down anchored">Next</a>
			</section>

		<!-- Two -->
			<section id="two" class="main style2 left dark fullscreen">
				<div class="content box style2">
					<header>
						<h2>Peticiones</h2>
					</header>
					<a href="#work" ><h4><strong>Consultar Informacion</strong></h4></a>
					<br>
					<a href="#work" ><h4><strong>Resumen de IVA</strong></h4></a>
					<br>
					<a href="#work" ><h4><strong>Resumen por Fechas</strong></h4></a>
					<br>
					<button onclick="PDF()" type="button" ">Reporte de Salida</button>
					<button onclick="PDF_IVA()" type="button" ">Reporte Grafica IVA</button>
					<button onclick="PDF_Fechas()" type="button" ">Reporte Grafica por Fechas PDF</button>
				</div>
				<a href="#work" class="button style2 down anchored">Next</a>
			</section>

		<!-- Work -->
			<section id="work" class="main style3 primary">
				<div class="content">
					<header>
						<h2>Informacion del Archivo XML</h2>						
					</header>

					<div class="box">
						<header>
							<h2>Archivo de Entrada</h2>
						</header>
						{% if data.Mensaje == "Aun no se ha ingresado un archivo XML" %}
							<p> {{data.Mensaje }} </p>
						{% else %}
							{% for a in data.Mensaje %}
								<p> {{ a }} </p>
							{% endfor %}
						{% endif %}
					</div>
					<div class="box" id="pdf">
						<header>
							<h2>Archivo de Salida</h2>
						</header>
						{% if data.Mensaje2 == "Esperando archivo de entrada" %}
							<p> {{data.Mensaje2 }} </p>
						{% else %}
							{% for a in data.Mensaje2 %}
								<p> {{ a }} </p>
							{% endfor %}
						{% endif %}
					</div>
					<div class="box" id="pdf_IVA">
						<header>
							<h2>Resumen por IVA</h2>
							<select id="grafica_iva" name="grafica_iva" style="text-align: center; WIDTH: 260px; HEIGHT: 45 px"></select>
							<br>
							</header>
						<div id='GraficaIVA', data_info_2></div>
					</div>
					<button type="button" onclick="CrearGraficasIVA()">Crear Grafica</button>
					<div class="box" id="pdf_Fechas">
						<header>
							<h2>Resumen por Fechas</h2>
							<select id="grafica_fechas_inicio" name="grafica_fechas_inicio" style="text-align: center; WIDTH: 260px; HEIGHT: 45 px"></select>
							<br>
							<select id="grafica_fechas_fin" name="grafica_fechas_fin" style="text-align: center; WIDTH: 260px; HEIGHT: 45 px"></select>
						</header>
						<div id='GraficaFechas', data_info></div>
					</div>
					<button type="button" onclick="CrearGraficasFechas()">Crear Grafica</button>
				</div>
			</section>

		<!-- Contact -->
			<section id="contact" class="main style3 secondary">
				<div class="content">
					<header>
						<h2>Ronaldo Posadas</h2>
						<p>En este apartdo se muestra la informacion de la persona encargada en realizar el Proyecto.</p>
					</header>
					<div class="box">
						<a href="https://rposadas15.github.io/">Informacion del Estudiante</a>
						<br>
						<iframe src="https://docs.google.com/viewer?srcid=1oDAhzWHAcsZ1EqLpnX7jvOnXIG2Jpd25&pid=explorer&efh=false&a=v&chrome=false&embedded=true" width="300px" height="400px"></iframe>
						<br>
						<button type="button" onclick="Resetear()">Resetear Informacion</button>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">

				<!-- Icons -->
					<ul class="icons">
						<li><a href="https://twitter.com/rposadas_15" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.facebook.com/javier.posadas.09" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com/rposadas_15/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="https://github.com/rposadas15/IPC2_Proyecto3_202004770" class="icon brands fa-github"><span class="label">Git Hub</span></a></li>
					</ul>

				<!-- Menu -->
					<ul class="menu">
						<li>&copy; Untitled</li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
					</ul>

			</footer>

		<!-- Scripts -->
			<script src="../static/assets/js/jquery.min.js"></script>
			<script src="../static/assets/js/jquery.poptrox.min.js"></script>
			<script src="../static/assets/js/jquery.scrolly.min.js"></script>
			<script src="../static/assets/js/jquery.scrollex.min.js"></script>
			<script src="../static/assets/js/browser.min.js"></script>
			<script src="../static/assets/js/breakpoints.min.js"></script>
			<script src="../static/assets/js/util.js"></script>
			<script src="../static/assets/js/main.js"></script>

			<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
  			<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
			<script src="../static/js/funciones.js"></script>
			
	</body>
</html>